@use '../_mixins/media-query' as *;

.grid-row:not(#hero){
  div[class*="bg"],section[class*="bg"],figure[class*="bg"] {
    //@include mq(tablet) {
    //  padding: var(--s3);
    //}
  }
}
//Orientation
.left {
  margin-left: 0;
  margin-right: auto;
}

.right {
  margin-left: auto;
  margin-right: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.rel-pos {
  position: relative;
}

.abs-pos {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

main {
  & > article {
    //margin-bottom: var(--s2);
    section:nth-last-child(1) {
      //margin-bottom: var(--s3);
    }
  }
}
