@use '../_utilities/_mixins/media-query' as *;

.grid-sizer,
.grid-item {
  height: 250px;
  width: 25%;
  overflow: hidden;
  border: 5px solid var(--base-background);

  .item__content {
    width: 100%;
    height: 100%;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &.image {
  }

  &.text {
    padding: 1rem;
    border: 5px solid var(--base-background);

    @include mq(medium) {
      &:nth-child(1n) {
        height: 250px;
        width: 50%;
      }
    }
    @include mq(tablet) {
      &:nth-child(1n) {
        height: 500px;
        width: 50%;
      }
    }
    @include mq(mobile) {
      &:nth-child(1n) {
        height: 250px;
        width: 100%;
      }
    }
  }

  &.one-x-one {
    height: 250px;
    width: 25%;

    &:not(.text) {
      @include mq(tablet) {
        height: 250px;
        width: 25%;
      }
      @include mq(phablet) {
        height: 250px;
        width: 50%;
      }
    }
  }

  &.one-x-two {
    height: 250px;
    width: 50%;

    &:not(.text) {

      @include mq(mobile) {
        height: 250px;
        width: 100%;
      }
    }
  }

  &.two-x-one {
    height: 500px;
    width: 25%;
    @include mq(tablet) {
      height: 250px;
      width: 50%;
    }
    @include mq(phablet) {
      height: 350px;
      width: 100%;
    }
  }

  &.two-x-two {
    height: 500px;
    width: 50%;

    &:not(.text) {
      @include mq(tablet) {
        height: 250px;
        width: 25%;
      }
      @include mq(phablet) {
        height: 500px;
        width: 100%;
      }
    }
  }
}
img.mfp-img{
  filter: blur(0);

}