@use '../../_utilities/_mixins/media-query' as *;

section[class*="bg"] .card {
  box-shadow: none;
}

.card {
  img, figure {
    border-radius: 0;
    width: 100%;

  }

  &[class*="border-"] {
    border-width: 1px;
    border-style: solid;
  }

  &[class*="bg"], &.rounded, &[class*="border-"], &.drop {
    a.imglink {
      //margin-right: var(--s-neg1);
      //margin-left: var(--s-neg1);
    }

    & > h1, h2, h3, h4, h5, h6, p, hr, .button {
      padding-right: var(--s1);
      padding-left: var(--s1);

      &:nth-last-child(1) {
        margin-bottom: var(--s1);
      }
    }

    a.button.primary {
      margin-left: var(--s1);
      margin-right: var(--s1);
    }
  }



  &.rounded {
    &-5 {
      border-radius: 5px;

      img, figure {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    &-10 {
      border-radius: 10px;

      img, figure {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    &-15 {
      border-radius: 15px;

      img, figure {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }
    }

    &-25 {
      border-radius: 25px;

      img, figure {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
    }

    //overflow: hidden;
    //box-shadow: 0 0 5px 5px var(--light-main);
    //margin-bottom: var(--s1);


  }

  &.drop {
    box-shadow: 4px 4px 10px 2px var(--dark-main);
    margin-top: var(--s1);
    margin-bottom: var(--s1);
  }

  &.heading-font {
    h4 {
      font-family: var(--heading-font);
    }
  }

  &.body-font {
    h4 {
      font-family: var(--body-font);
    }
  }

  h4 {
    //padding-bottom: var(--s-3);
    //border-bottom: 1px solid grey;
  }
}

.gridRow:not(.slick-initialized) {
  .stackCard {
    @include mq(tablet) {
      display: grid;
      grid-template: auto / repeat(10, 1fr);
      grid-gap: var(--s2);
      figure, .imglink {
        grid-column: auto / span 4;
        height: 100%;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .inner {
        margin-top: 0;
        grid-column: auto / span 6;
        justify-content: center;
        align-items: start;
        display: flex;
        flex-direction: column;
        p{
          display: none;
        }
      }
    }
  }
}
