@use '../../_utilities/_mixins/media-query' as *;

.featureBlock {
  display: flex!important;
  grid-gap: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  @include mq(tablet) {
    >.stack{
      text-align: center;
    }
  }
  &.left {
    @include mq-min(tablet) {
      flex-direction: row-reverse;
    }
  }

  &.right {
    @include mq-min(tablet) {
      flex-direction: row;
    }
  }

  &.top {
    @include mq-min(tablet) {
      flex-direction: column;
    }
  }

  &.bottom {
    @include mq-min(tablet) {
      flex-direction: column-reverse;
    }
  }

  .stack {
  }

  figure {
    &.default {
    }

    &.circle {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;
      }
    }
  }
}