.section_layout {
  .grid {
    .stack {
      figure {

      }
    }
    .flex-products{
      text-align: center;
      text-transform: uppercase;
      h4{
        font-size: var(--f0);
        margin-bottom: var(--f0);
      }
      img{
        transition: all .2s ease-in-out;
      }
      &:hover{
        img{
          transform: scale(1.1);
          transition: all .2s ease-in-out;
        }
      }
    }
  }
}