@use '../_base/_grid' as *;
@use '../_components/_every-layout/stack' as *;
@use '../_utilities/_mixins/media-query' as *;


.woocommerce {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 15;
  grid-gap: inherit;
  ul.products {
    //display: grid;
    //grid-template-columns:  repeat(4, minmax(170px, 1fr));
    //grid-auto-flow: dense;
    @extend .has-four-columns;
    @extend .row-four;

    grid-gap: inherit;
    .product{
      @extend .stack;
      @extend .stack-tiny;
      a{
        @extend .stack;
        @extend .stack-tiny;
        text-decoration: none;
        h2{}
        .price{
          font-size: var(--f-1);
          span{

          }
        }
        .excerpt{

        }
      }
    }

    &:after, &:before {
      content: '';
      display: none;
    }
  }

  img {
    width: 100%;
  }
}

.woocommerce-breadcrumb {
  margin: 0;
}

.woocommerce-products-header {
}

.woocommerce-notices-wrapper {
}

.woocommerce-result-count {
}

.woocommerce-ordering {
}


.woocommerce {

}